@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  font-family: "Quicksand", sans-serif;
}

.text-outline-white {
  text-shadow: 1 1 2px #ffffff;
}


li .active {
  border: 1px solid #4338CA;
  border-radius: 9999px;
}

.slider .swiper-pagination-bullet-active {
  background-color: #4338CA !important;
}