@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Quicksand", sans-serif;
}

li .active {
  color: #4338CA;
  font-weight: 800;
}

.slider .swiper-pagination-bullet-active {
  background-color: #4338CA !important;
}