@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  font-family: "Quicksand", sans-serif;
}

/* .text-outline-white {
  text-shadow: 1 1 2px #ffffff;
} */


li .active {
  @apply text-base-200 rounded-full bg-linear-to-b from-indigo-800 to-violet-500 px-5
}

.slider .swiper-pagination-bullet-active {
  background-color: #4338CA !important;
}